

link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css')
link(rel='stylesheet' href='https://cdn.datatables.net/2.1.3/css/dataTables.bootstrap4.css')
script(src='https://code.jquery.com/jquery-3.7.1.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js')
script(src='https://cdn.datatables.net/2.1.3/js/dataTables.js')
script(src='https://cdn.datatables.net/2.1.3/js/dataTables.bootstrap4.js')
script(src='https://kit.fontawesome.com/your-font-awesome-kit-id.js')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
script.
    function handleSelect(event) {
    var selectedValue = event.target.value;
    const employeeData =!{employee};
    let filteredEmployees = [];
    if(event.target.value != '0'){
    let statusData = event.target.value === '1' ? true : false
    filteredEmployees = employeeData.filter(employee => employee.isActive === statusData);
    var table = $('#myTable').DataTable();
      table.clear().draw();
      filteredEmployees.map((ele)=>{
      table.row.add({
          "employeeId": ele.employeeId,
          "address": ele.address,
          "employeeCode": ele.employeeCode,
          "employeeName": ele.employeeName,
          "email": ele.email,
          "contactNo": ele.contactNo,
          "isActive": ele.isActive,
      }).draw();
      })
    }

    }
body

div 
include navbar

div.container-fluid
  div.row
    include sidebar
    div.col-md-10.main-content
      h3.mt-3 Employee List
        div.form-group.col-3.mt-5
            h5(for="category") Status :
               select.form-control.mt-2(onchange='handleSelect(event)')
                            option(value='0') Select Status...
                            option(value='1') Active
                            option(value='2') In-Active
      button(type="button" class="btn btn-primary float-right mr-3 mb-2 createBtn" data-toggle="modal") Add 
      table#myTable.table.table-striped.table-hover

//------- formData---->
div#addEmployeeModal.modal.fade(role='dialog')
  div.modal-dialog.modal-dialog-centered
    div.modal-content
      div.modal-header
        h4.modal-title #{modalTitle} Create Employee
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') 
      div.modal-body
        form
          div.form-group
            label(for='employeeName') Name
            input#employeeName.form-control(type='text' placeholder='Enter Employee Name')
          div.form-group
            label(for='contactNo') Phone
            input#contactNo.form-control(type='tel' placeholder='Enter Contact' minlength='10' maxlength='10')
          div.form-group
            label(for='email') Email
            input#email.form-control(type='email' placeholder='Enter Email')
          div.form-group
            label(for='address') Address
            input#address.form-control(type='text' placeholder='Enter Address')


      div.modal-footer
        button.btn.btn-default.btn-danger(type='button' data-dismiss='modal') Close
        button#submitForm.btn.btn-default.btn-primary.btn-save(type='button' data-dismiss='modal' style='display: block' ) Save
        button#updateForm.btn.btn-default.btn-primary.btn-update(type='button' data-dismiss='modal' style='display: none') Update
//------- formData---->

script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.all.min.js")
script.
  $(document).ready(function() {
    $('.btn-save').show();
  const employeeData =!{employee};
  var selectedId = ""
  var selectedIndex = ""

  $('#myTable').DataTable({
    "dom": '<"row"<"col-sm-6"l><"col-sm-6 d-flex justify-content-end"f>>rt<"row"<"col-sm-6 mt-3"i><"col-sm-6 d-flex justify-content-end custom-pagination mt-3"p>>',
    "initComplete": function(settings, json) {
      var searchInput = $('.dataTables_filter input[type="search"]');
      searchInput.addClass('form-control form-control-sm');
      searchInput.attr('placeholder', 'Search...');
    },
    "pagingType": "full_numbers",
    "data": employeeData,
    "columns": [
      { "title": "Employee Code", "data": "employeeCode" },
      { "title": "Name", "data": "employeeName" },
      { "title": "Phone", "data": "contactNo" },
      { "title": "Email", "data": "email" },
      { "title": "Status", "data": "isActive","render": function(data, type, row) {
        if (data) {
            return `<span class="badge badge-success">Active</span>`;
        } else {
            return `<span class="badge badge-warning">In-Active</span>`;
        }
    } },
      {
        "title": "Actions",
        "data": null,
        "render": function(data, type, row, meta) {
          return `
            <button class="btn btn-sm btn-primary editBtn" data-index='${meta.row}' data-value='${JSON.stringify(row)}'><i class="fas fa-pen p-1"></i></button>
            <button class="btn btn-sm btn-danger deleteBtn" data-index='${meta.row}' data-value='${row.employeeId}'><i class="fas fa-trash p-1"></i></button>
          `.trim();
        }
      }
    ]
  });
  });

  //- Edit Data Store 
    $(document).on('click', '.editBtn', function() {
    var data = $(this).data('value');
    selectedIndex = $(this).data('index');
    selectedId = data.employeeId
    document.getElementById('employeeName').value = data.employeeName
    document.getElementById('email').value = data.email
    document.getElementById('contactNo').value = data.contactNo
    document.getElementById('address').value = data.address
      $('#addEmployeeModal').modal('show');
      $('.btn-save').hide();
      $('.btn-update').show();
      $('#addEmployeeModal .modal-title').text('Edit Employee');
    });

    //- Create Data Store 
    $(document).on('click', '.createBtn', function() {
    document.getElementById('employeeName').value = ""
    document.getElementById('email').value = ""
    document.getElementById('contactNo').value = ""
    document.getElementById('address').value = ""
      $('#addEmployeeModal').modal('show');
      $('.btn-save').show();
      $('.btn-update').hide();
      $('#addEmployeeModal .modal-title').text('Create Employee');
    });

  //- Delete Row
    $(document).on('click', '.deleteBtn', function() {
      var employeeId = $(this).data('value');
      selectedIndex = $(this).data('index');
      Swal.fire({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this...!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, keep it",
      }).then((result)=>{
        if (result.isConfirmed) {
        $.ajax({
          url: "/employee/"+ employeeId,
          method: 'PUT',
          dataType: 'json',
          data: {
            isActive : false,
          },
          success: function (response) {
            const result = response.data
              var table = $('#myTable').DataTable();
               var rowData = table.row(selectedIndex).data();

            rowData.isActive = result[0].isActive;

            table.row(selectedIndex).data(rowData).draw();
              clearFields()
              Swal.fire("Updated Successfully...!", {
               icon: "success",
                });
              }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
          }
        })
      }else {
        Swal.fire("Your Data is safe..!", {
          icon: "error",
        });
          }
      })
    });

  //- Clear From Fields
  function clearFields() {
    document.getElementById('employeeName').value = ""
    document.getElementById('email').value = ""
    document.getElementById('contactNo').value = ""
    document.getElementById('address').value = ""
      $('.btn-save').show();
      $('.btn-update').hide();
      selectedIndex = ""
      selectedId = ""
  }

  //- Create Form Action
    $('#submitForm').click(function (event) {
      event.preventDefault();
      var employeeName = document.getElementById('employeeName').value;
      var email = document.getElementById('email').value;
      var contactNo = document.getElementById('contactNo').value;
      var address = document.getElementById('address').value;
        $.ajax({
          url: "/employee",
          method: 'POST',
          dataType: 'json',
          data: {
            employeeName : employeeName,
            email : email,
            contactNo : contactNo,
            address : address,
          },
          success: function (response) {
            const result = response.data
              var table = $('#myTable').DataTable();
            table.row.add({
            "employeeId": result[0].employeeId,
            "address": result[0].address,
            "employeeCode": result[0].employeeCode,
            "employeeName": result[0].employeeName,
            "email": result[0].email,
            "contactNo": result[0].contactNo,
          }).draw();
          clearFields()
          }, error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
          }
      })
    })

    //- Update Form Action
    $('#updateForm').click(function (event) {
      event.preventDefault();
      var employeeName = document.getElementById('employeeName').value;
      var email = document.getElementById('email').value;
      var contactNo = document.getElementById('contactNo').value;
      var address = document.getElementById('address').value;
        $.ajax({
          url: "/employee/"+ selectedId,
          method: 'PUT',
          dataType: 'json',
          data: {
            employeeName : employeeName,
            email : email,
            contactNo : contactNo,
            address : address,
          },
          success: function (response) {
            console.log(response.data)
            const result = response.data
              var table = $('#myTable').DataTable();
              var rowData = table.row(selectedIndex).data();

            rowData.employeeCode = result[0].employeeCode;
            rowData.employeeName = result[0].employeeName;
            rowData.email = result[0].email;
            rowData.contactNo = result[0].contactNo;

            table.row(selectedIndex).data(rowData).draw();
          clearFields()
          }, error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
          }
      })
    })




